<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HealthCare_Plus.Properties.Settings.HealthCare_plusConnectionString"
            connectionString="Data Source=DESKTOP-LTVMOGG\SQLEXPRESS;Initial Catalog=HealthCare_plus;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>